<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Index</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}</h1>
    {% endif %}
    <h2>Welcome to Ethereal Vault</h2>

    {% if user.is_authenticated %}
        <button onclick="location.href = '/player-class-blueprint/new'">Create</button>
    {% else %}
        <button onclick="location.href = '/accounts/login'">Login</button>
        <button onclick="location.href = '/register'">Register</button>
    {% endif %}

</body>
</html>