{% load blueprint_helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blueprint</title>
</head>
<body>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'view-player-class-blueprint' player_class_id %}">
        {% csrf_token %}

        {% for field in form %}
            {% if field.label in nonForeignParams %}
                <a>{{ field.label }}: </a> {{ field }}
            {% else %}
                <a>{{ field.label }}: </a>
                <a>
                {% if field.value %}
                    <a style="border-style:inset">{{ field.value }}</a>
                {% elif field.label|enum_substring|does_editable_form_exist %}
                    <button type="button" name="add-and-update"
                            onclick="location.href = '/player-class-blueprint/add-and-update/{{ player_class_id }}/{{ field.label|lower }}'">
                        Add new
                    </button>
                {% else %}
                    <a style="border-style:inset">Feature Coming Soon</a>
                {% endif %}
            {% endif %}
            <br>
        {% endfor %}

        <br>

        <input type="submit" value="Update Blueprint">
    </form>
{% else %}
    <button onclick="location.href = '/accounts/login'">Login</button>
    <button onclick="location.href = '/register'">Register</button>
{% endif %}
</body>
</html>